body {
  background-color: #FA8100;
}

h1 {
  text-align: center;
  font-size: 8em;
  opacity: 0.005;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

h1:hover {
  opacity: 0.02;
}
